<h1>Все заведения</h1>
<p>Выбрать категорию: 
  <span>Все</span>
  <% @categories.each do |category| %>
    <%= link_to category.title, show_category_path(category) %>
  <% end %>
</p>
<p><%= paginate @places %></p>
<% unless @places.empty? %>
  <div class="places-block">
    <% @places.each do |place|  %>
      <div class="place-item">
        <div class="photo"><%= image_tag place.image.url(:thumb) %></div>
        <h5><%= link_to place.title, place_show_path(place) %></h5> 
        <div class="rating">       
          <% @vote = (place.get_upvotes.size + place.get_downvotes.size) %>
          <% @rating = place.get_upvotes.size %>
          <div class="rating-wrap">
            <div class="rating-star" style=<%= "width:#{@vote*10}px"%>></div>
          </div>
         
          <% unless @vote == 0 %>
            <span>Рейтинг: <%= @rating/@vote %>,<br> Проголосовали: <%= @vote %></span> 
          <% else %>
            Ретинг: 0,<br>
            Проголосовали: <%= @vote %>
          <% end %> 
        </div>    
      </div>
    <% end %> 
  </div>
<% end %>
<div class="places-btn">
  <% if user_signed_in? %>
    <p><%= link_to "Добавить заведение", new_place_path, class: "btn btn-primary" %></p>
  <% else %>
    <p>Если Вы хотите иметь возможность добавлять заведение, Вам необходимо авторирзоваться</p>
  <% end %>
</div>

